hr {
	margin: 15px 0;
}

b {
	font-size: 16px;
}

/* unvisited link */
a:link {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
}

/* visited link */
a:visited {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
}

/* selected link */
a:active {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
}

.box {
	max-width: 660px;
	width: 100%;
	margin: 10% auto 0;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 14px;
	position: relative;
	line-height: 1.6;
}

.header {

}

.header .logo {
	padding: 20px 30px;
}

.header .header-text {
	padding: 20px 30px;
	background-color: #0C419A !important;
}

.header .header-text img {
	display: inline-block;
	margin-right: 18px;
}

.header h1 {
	font-size: 36px;
	margin: 0;
	color: #ffffff;
	display: inline-block;
}

.content {
	padding: 15px 30px 60px;
}

.content h1 {
	color: #0C419A;
	font-size: 36px;
	margin: 0;
}

.btn {
	padding: 18px 80px;
	border: none;
	font-size: 20px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: -25px;
	width: 200px;
	font-weight: bold;
}

.btn-blue {
	color: #ffffff;
	background-color: #0C419A;
}

.btn-green {
	color: #ffffff;
	background-color: #30982A;
}

@media only screen and (max-width : 767px) {
	.box {
		margin-top: 0;
	}
	.header .logo {
		padding: 20px;
	}

	.header .header-text {
		padding: 20px;
	}

	.header h1 {
		width: 190px;
	    vertical-align: middle;
	    line-height: 1.2;
	}

	.content {
		padding: 15px 20px 60px;
	}

	.content span {
		width: 100%;
		display: block;
	}

	.content .row:last-child span {
		width: auto;
		display: inline;
	}

	.btn {
		left: 0;
		margin: 0 auto;
		display: block;
	}
}
